Repository tmphat1312/movred: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --list-different

.lintstagedrc.json:

{
  "*.{mjs,js,jsx,ts,tsx}": [
    "eslint --fix",
    "prettier --write --list-different"
  ],
  "*.{md,json}": ["prettier --write --list-different"]
}

fix: adjust the scale to match rating scale (1-10)
  src/components/ui/scale-slider.tsx
Due: eslint --fix, prettier --write --list-different

feat: update rating on post a rating
  src/features/movie-details/data/post-a-rating.ts
Due: eslint --fix, prettier --write --list-different

chore: update rating when removing
  src/features/user-profile/data/remove-from-rating-list.ts
Due: eslint --fix, prettier --write --list-different

refactor: make the logic more readable
  src/features/home/components/create-our-user.tsx
  src/features/home/data/create-our-user.ts
Due: eslint --fix, prettier --write --list-different

ui: add beautiful animations
  package-lock.json
  package.json
  src/components/movie-card.tsx
  src/features/cast-details/components/main-reading.tsx
  src/features/cast-details/components/personal-information.tsx
  src/features/home/components/search-hero-section.tsx
  src/features/latest-trailers/components/trailer-card.tsx
  src/features/movie-details/components/quick-information.tsx
  src/features/movie-details/components/user-actions.tsx
  src/features/user-profile/components/move-poster-card.tsx
  src/features/user-profile/components/movie-backdrop-card.tsx
  tailwind.config.ts
Due: eslint --fix, prettier --write --list-different

fix: handle unauthenticated state
  src/features/movie-details/data/find-your-rating.ts
Due: eslint --fix, prettier --write --list-different

docs: add installation guide and resources
  README.md
Due: prettier --write --list-different

dx: add devcontainer definition
  .devcontainer/devcontainer.json
Due: prettier --write --list-different

docs: add prerequesites and some notes
  README.md
Due: prettier --write --list-different

docs: detail about env files
  README.md
Due: prettier --write --list-different

docs: add note to scrape data before start dev server
  README.md
Due: prettier --write --list-different

chore: disable conflict when insert duplicates
  src/data/__port-data.ts
Due: eslint --fix, prettier --write --list-different

fix: resolve edit timeout
  package.json
Due: prettier --write --list-different

deploy: remove optimize images flag
  next.config.ts
Due: eslint --fix, prettier --write --list-different

cd: upgrade to node version >= 22
  Dockerfile
Due: none

fix: node options is not available on docker
  Dockerfile
  package.json
Due: prettier --write --list-different

fix: missing run in npm command
  Dockerfile
Due: none
